$cor1: #eef0ff; // 50
$cor2: #e0e4ff; // 100
$cor3: #c6ccff; // 200
$cor4: #a4a9fd; // 300
$cor5: #8280f9; // 400
$cor6: #6e61f3; // 500
$cor7: #593de6; // 600
$cor8: #5236cc; // 700
$cor9: #432fa4; // 800
$cor10: #392d82; // 900
$cor11: #221a4c; // 950
$cor12: #00001e; // 1000