@import "variables";

footer {
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    background: $cor7;
    display: flex;
    flex-direction: column;

    .list-container {
        width: 100%;
        height: auto;
        padding: 2.5rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;

        .dev {
            h4 {
                color: $cor1;
                font-size: 1em;
                font-weight: 600;
            }

            ul {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                li {
                    margin: .5rem 0;
                    color: $cor1;
                    font-size: .8rem;
                    font-weight: 600;
                }
            }
        }

        .social {
            h4 {
                color: $cor1;
                font-size: 1em;
                font-weight: 600;
            }

            ul {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                li {
                    margin: .5rem 0;
                    color: $cor1;
                    font-size: .8rem;
                    font-weight: 600;
                }
            }
        }

        .about {
            h4 {
                color: $cor1;
                font-size: 1em;
                font-weight: 600;
            }

            ul {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                li {
                    margin: .5rem 0;
                    color: $cor1;
                    font-size: .8rem;
                    font-weight: 600;
                }
            }
        }
    }

    .copy {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            color: $cor1;
            font-size: .8rem;
            font-weight: 600;
        }
    }
}